:root{
/* Google Colors */
--verde-google: #008744;
--azul-google: #0057e7;
--rojo-google: #d62d20;
--amarillo-google: #ffa700;
--blanco-google: #ffffff;

/* So Many Lost Songs */
--azul-fuerte: #051e3e;
--azul-fuerte-2: #251e3e;
--azul-rojizo: #451e3e;
--azul-rojizo-2: #651e3e;
--tinto: #851e3e;

/* Font Sizes  */
--extra-big: 18px;
--big: 16px;
--medium: 14px;
--small: 12px;

/* Para ponerlos en css se utiliza var(--big)*/
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;

    background-color: #051e3e;
}

.main-container{
    width: 100%;
    height: 100%;
}

.section-1-container{
    display: flex;
    flex-direction: column;
    gap: 30px;

    width: 100%;
    height: 100%;

    justify-content: center;
    align-items: center;

}

.mainTitle {
margin-bottom: 0;
margin-top: 10px;

color: white
}

.subtitle {
    color: var(--azul-fuerte-2);
    font-size: 24px;
}

.card-container{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 750px;
    height: 100%;

    background-color: #c24d2c;
    border: 4px solid var(--tinto);
    border-radius: 20px;
}

/* .card-container h1{
    text-align: center;
} */

.michis-container{
    display: flex;
    justify-content:space-around;
    /* gap: 20px; */
    width: 100%;
}


.michis-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.michi-pic{
    align-self: center;
    width: 150px;
    height: 150px;

    border: 3px solid var(--tinto);
    border-radius: 8px;
    margin-bottom: 10px;
    /* object-fit: cover; */
}

.fav-michis-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* justify-content:space-evenly; */
    gap: 50px;
    width: 100%;

    margin-bottom: 20px;
}

.btn-quitar-michi {
    width: 130px;
    height: 30px;

    font-weight: 600;
    /* font-size: 12px; */

    border-radius: 20px;
    /* border-style: none; */
    border: 2px solid var(--tinto);
    color: var(--azul-fuerte-2);
}

.btn-quitar-michi:hover {
    border: 2px solid black;
}

.btn-quitar-michi:active {
    background-color:lightgray;
}

/* Boton */

.btn-3 {
    margin-top: 40px;
    margin-bottom: 20px;

    width: 150px;
    height: 45px;

    background-color: #008744;
    color: white;
    font-weight: 600;
    border: 1px solid #7bc043;
    border-radius: 20px;
}

.btn-3:hover {
    border: 2px solid #7bc043;
}

.btn-3:active {
    background-color:#7bc043;
}

/* -------- */

.btn-subir-michi {
    margin-top: 20px;
}

.footer {
    color: white;
}



@media(max-width: 770px) {
    .card-container{
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        width: 400px;
        height: 100%;
    
        background-color: #c24d2c;
        border-radius: 20px;
    }

    .michis-container{
        display: flex;
        justify-content:space-around;
        flex-wrap: wrap;
        gap: 20px;
        width: 100%;
        /* margin-bottom: 20px; */
    }

    .michis-info{
        display: flex;
        flex-direction: column;
    }
    
    .michi-pic{
        align-self: center;
        width: 150px;
        height: 150px;
    
        border-radius: 8px;
        margin-bottom: 10px;
        /* object-fit: cover; */
    }
    
    .fav-michis-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* justify-content:space-evenly; */
        gap: 30px;
        width: 100%;

        margin-bottom: 20px;
    }

}